<h1>Text Filler For Contact</h1>
<h4>Here's a contact form...</h4>

<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="well">
          <%= form_for "/contacts" do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :comments %>
            <%= f.text_area :comments, class: 'form-control' %>

            <%= f.submit 'Submit', class:'btn btn-default' %>

          <% end %>
        </div>
      </div>
    </div>
</div>
